/* Fonts */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/opensans.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/opensanslight.woff")
      format("woff"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 100;
  src: local("Gilroy"), url("../fonts/gilroylight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroylight.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy"), url("../fonts/gilroyextrabold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroyextrabold.woff")
      format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --status: #f6dada;
}

.page {
  height: 100%;
}

.page-body {
  padding-top: 40px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/*main-header*/

.main-nav {
  display: grid;
  position: relative;
  background-color: var(--special-yellow);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 44px;
  padding-bottom: 146px;
}

.nav-catalog {
  padding-bottom: 50px;
}

.nav-top {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav-top__logo {
  position: absolute;
  bottom: 74px;
}

.nav-top__user-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.nav-top__basket-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-top--text {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-decoration: none;
  padding-left: 25px;
}

.nav-top__basket-list--item {
  margin-right: 40px;
}

.nav-top__basket-list--item:last-child {
  margin-right: 0;
}

.nav-down {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-down__menu {
  width: 50%;
}

.nav-down__menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-down__menu-item {
  margin-right: 38px;
}

.nav-down__menu-item:last-child {
  flex-grow: 1;
  text-align: end;
  margin-right: 0;
}

/*dropdown-catalog-menu*/

.dropdown-catalog-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 40px;
  height: 50%;
  width: 93%;
  z-index: 1;
}

.main-catalog-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 61px;
  padding-top: 30px;
}

.main-catalog-menu-list:last-child {
  margin: 0;
}

.main-catalog-item:not(:last-child) {
  margin-bottom: 20px;
}

.main-catalog-item--link {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-decoration: none;
}

.nav-down--text {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
}

.btn {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

/*main*/

.grid-column {
  display: grid;
}

/*slider*/

.slider__content {
  display: grid;
  grid-template-columns: auto 1fr;
}

.slider__item {
  max-width: 560px;
  grid-column: -1;
}

.slider__content_number--text {
  color: var(--basic-white);
  font-size: 179px;
  line-height: 219px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
}

.slider__content_text--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.slider__content_text--text {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
}

.slider__feature-th {
  font-size: 36px;
  line-height: 42px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.slider__feature-td {
  font-size: 13px;
  line-height: 15px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

/*main__catalog*/

.main__catalog {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
}

.main__catalog_text-headline {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}
/*advantage*/
.main__advantage_bg {
  display: grid;
  grid-template-columns: auto 1fr;
}

.advantage__sort {
  width: 260px;
}
.advantage__sort--label {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.advantage__content_item--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.advantage__content_item--text {
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

/*main-brands*/

.main-brands {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;
}

/*main-info*/

.main-info {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  column-gap: 40px;
}

.info__about-us--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.info__about-us--text {
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.info__about-us--list {
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.info__contacts--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.info__contacts--text {
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

/*footer*/

.footer-main {
  background-color: var(--basic-dark);
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-content__left--address {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-white);
}

.footer-nav--list {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-white);
}

.footer-user--nav {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-white);
}

.tel--text {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-white);
}

/* catalog */

/*main-head*/

.main-head__wr {
  max-width: 1040px;
  margin: 0 auto;
}

.main-head--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.breadcrumbs--list {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: start;
}

.sorting-header {
  background-color: var(--basic-half-grey);
}

.sorting-header--text {
  font-size: 16px;
  line-height: 19px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.sorting-header--legend {
  font-size: 14px;
  line-height: 17px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.sorting-wr {
  width: 272px;
  margin-left: auto;
}

.sorting-main {
  background-color: var(--basic-grey-light);
}

.range-filter__price--text {
  font-size: 14px;
  line-height: 16px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.sorting-checkbox--text {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.sorting-radio--text {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.catalog-sort {
  background-color: var(--basic-grey-light);
}

.catalog-sort--text {
  font-size: 16px;
  line-height: 19px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.catalog-sort__type--item {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.catalog-group_products {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
}

.catalog-group__text--name {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.catalog-group__text--price {
  font-size: 16px;
  line-height: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.btn-add-comparison {
  font-size: 13px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.catalog-group__new--text {
  font-size: 12px;
  line-height: 15px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.catalog-sort {
  background-color: var(--basic-grey-light);
}

.btn-catalog-sort {
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.catalog-sort__pagination--list {
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}
