/* Fonts */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/opensans.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/opensans.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 100;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/opensanslight.woff")
      format("woff"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 100;
  src: local("Gilroy"), url("../fonts/gilroylight.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroylight.woff") format("woff"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: local("Gilroy"), url("../fonts/gilroyextrabold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroyextrabold.woff")
      format("woff"); /* Modern Browsers */
  font-display: swap;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --special-yellow: #f7e296;
  --special-green: #91c92f;
  --special-yellow-dark: #f0c52e;
  --status: #f6dada;
}

.page {
  height: 100%;
}

.page-body {
  padding-top: 40px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
  text-transform: uppercase;
  text-decoration: none;
  width: 260px;
  height: 40px;
  z-index: 2;
}

.btn-button {
  margin: 0;
  padding: 0;
  background: none;
  position: relative;
  border: none;
}

.btn::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  z-index: -1;
}

/*main-header*/

.main-nav {
  display: grid;
  position: relative;
  background-color: var(--special-yellow);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 44px;
  padding-bottom: 146px;
}

.nav-catalog {
  padding-bottom: 50px;
}

.nav-top {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav-top__logo {
  position: absolute;
  bottom: 74px;
}

.nav-top__user-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.nav-top__basket-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-top--text {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-decoration: none;
  padding-left: 25px;
}

.nav-top__basket-list--item {
  margin-right: 40px;
}

.nav-top__basket-list--item:last-child {
  margin-right: 0;
}

.nav-down {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-down__menu {
  width: 50%;
}

.nav-down__menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-down__menu-item {
  margin-right: 38px;
}

.nav-down__menu-item:last-child {
  flex-grow: 1;
  text-align: end;
  margin-right: 0;
}

/*dropdown-catalog-menu*/

.dropdown-catalog-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 40px;
  height: 50%;
  width: 93%;
  z-index: 1;
}

.main-catalog-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 61px;
  padding-top: 30px;
}

.main-catalog-menu-list:last-child {
  margin: 0;
}

.main-catalog-item:not(:last-child) {
  margin-bottom: 20px;
}

.main-catalog-item--link {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-decoration: none;
}

.nav-down--text {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
  text-decoration: none;
  text-transform: uppercase;
}

/*main*/

.grid-column {
  display: grid;
}

/*slider*/

.slider {
  position: relative;
}

.slider__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 40px;
  padding-right: 40px;
}

.slider__controls {
  position: absolute;
  right: 73px;
  top: 261px;
  z-index: 1;
}

.slider__content {
  position: relative;
}

.slider__content::before {
  content: " ";
  position: absolute;
  background-color: var(--basic-white);
  height: 7px;
  width: 100px;
  top: 0;
  left: 0;
}

.slider__content_number {
  position: absolute;
  right: 0;
  top: 0;
}

.slider__content_number--text {
  color: var(--basic-white);
  font-size: 179px;
  line-height: 219px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  margin: 0;
}

.slider__content_text--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.slider__content_text--text {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--basic-black);
}

.btn-slider {
  width: 220px;
}

.slider__feature-th {
  font-size: 36px;
  line-height: 42px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.slider__feature-td {
  font-size: 13px;
  line-height: 15px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

/*main__catalog*/

.main__catalog {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
}

.main__catalog_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
}

.main__catalog_text-headline {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
  text-decoration: none;
}
/*advantage*/
.main__advantage {
  padding-bottom: 165px;
  background: rgb(229, 229, 229);
  background: linear-gradient(
    0deg,
    rgba(229, 229, 229, 1) 70%,
    rgba(255, 255, 255, 0) 70%
  );
}

.advantage__sort {
  position: relative;
}

.advantage__sort::before {
  content: " ";
  position: absolute;
  width: 7px;
  height: 320px;
  right: 0;
  background-color: var(--basic-black);
}

.advantage__sort-list {
  margin: 0;
  padding: 0;
  padding-top: 75px;
  list-style: none;
}

.advantage__sort-item:not(:last-child) {
  margin-bottom: 40px;
}

.advantage__sort-radio {
  display: none;
}

.advantage__sort-radio:checked + .btn-advantage {
  padding-left: 36px;
  width: 100%;
  color: var(--special-yellow);
  justify-content: end;
}

.advantage__sort-radio:checked + .btn::before {
  height: 40px;
  background-color: var(--basic-black);
  right: 36px;
  width: 89%;
}

.btn-advantage {
  width: 160px;
  height: 22px;
}

.main__advantage_box {
  display: grid;
  grid-template-columns: auto 1fr;
}

.advantage__sort {
  width: 260px;
}
.advantage__sort--label {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.advantage__content_item--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.advantage__content_item--text {
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.advantage__content {
  padding-left: 166px;
}

/*main-brands*/

.main-brands {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  column-gap: 40px;
}

/*main-info*/

.main-info {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  column-gap: 40px;
}

.info__about-us {
  position: relative;
}

.info__about-us::before {
  content: " ";
  position: absolute;
  background-color: var(--basic-black);
  height: 7px;
  width: 80px;
  left: 0;
  top: 0;
}

.info__about-us--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.info__about-us--text {
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.info__about-us--list {
  font-size: 16px;
  line-height: 28px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.info__contacts {
  position: relative;
}

.info__contacts::before {
  content: " ";
  position: absolute;
  background-color: var(--basic-black);
  height: 7px;
  width: 80px;
  left: 0;
  top: 0;
}

.info__contacts--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.info__contacts--text {
  font-size: 15px;
  line-height: 28px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

/*footer*/

.footer-main {
  background-color: var(--basic-dark);
}

.footer-content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.footer-content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 108px;
}

.footer-user-block__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-user-block__item:not(:last-child) {
  margin-right: 38px;
}

.footer-user--nav {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-white);
  padding-left: 23px;
  text-decoration: none;
}

.footer-content__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 108px;
}

.footer-nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav__item:not(:last-child) {
  margin-right: 36px;
}

.footer-content__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 108px;
}

.footer-content__footer::before {
  content: " ";
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
  margin-bottom: 10px;
}
.footer-content__middle--address {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-white);
  font-style: normal;
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social__item {
  font-size: 0;
  margin-right: 20px;
}

.footer-nav--text {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-white);
  text-decoration: none;
  text-transform: uppercase;
}
.tel--text {
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-white);
  text-decoration: none;
}

/* catalog */

/*main-head*/

.main-head__wr {
  max-width: 1040px;
  margin: 0 auto;
}

.main-head--headline {
  font-size: 47px;
  line-height: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-list__item {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
  margin-right: 16px;
}

.breadcrumbs-list__link {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
  text-decoration: none;
  padding-right: 24px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: start;
}

.sorting-header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--basic-half-grey);
  min-height: 70px;
}

.sorting-header::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 1000%;
  right: 0;
  background-color: var(--basic-half-grey);
  z-index: -1;
}

.sorting-header--text {
  font-size: 16px;
  line-height: 19px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
}

.sorting-header--legend {
  font-size: 14px;
  line-height: 17px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.sorting {
  position: relative;
}

.sorting-wr {
  width: 272px;
  margin-left: auto;
}

.sorting-main {
  background-color: var(--basic-grey-light);
}

.sorting::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 1000%;
  right: 0;
  background-color: var(--basic-grey-light);
  z-index: -1;
}

/*filter*/

.filter-fieldset {
  border: none;
}

.range-filter__controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 25px;
  border-radius: 5px;
  overflow: hidden;
}

.range-filter__scale {
  margin-top: 39px;
  height: 2px;
  background-color: var(--basic-black);
}

.range-filter__bar {
  height: 2px;
  background-color: var(--special-green);
  width: 70%;
}

.range-filter__controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-filter__controls .toggle_min {
  left: 15px;
}

.range-filter__controls .toggle_max {
  left: 160px;
}

.range-filter__price input {
  width: 60px;
  padding: 8px 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  color: #283136;
  border-radius: 5px;
}

.range-filter__price .min-price {
  margin-right: 25px;
}

.range-filter__price {
  white-space: nowrap;
}

.bluetooth-radio-status {
  display: none;
}

.bluetooth-radio-status + label {
  display: block;
  margin: 15px 0px 0px 0px;
  padding-left: 36px;
  position: relative;
  color: var(--basic-black);
  cursor: pointer;
}

.bluetooth-radio-status + label:last-child {
  margin-bottom: 25px;
}

.bluetooth-radio-status + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  border: 2px solid var(--basic-black);
}

.bluetooth-radio-status + label:hover::before {
  border: 2px solid #4d4d4d;
}

.bluetooth-radio-status:disabled + label::before {
  border: 2px solid #ededed;
}

.bluetooth-radio-status:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 8px;
  top: 8px;
  background: var(--basic-black);
}

.bluetooth-radio-status:checked + label:hover::after {
  background: #4d4d4d;
}

.bluetooth-radio-status:checked:disabled + label::after {
  background: #ededed;
}

.checkbox-color {
  display: none;
}

.checkbox-color + label {
  display: block;
  margin-top: 15px;
  padding-left: 36px;
  position: relative;
  cursor: pointer;
}

.checkbox-color + label::before {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid #b8b8b8;
}

.checkbox-color + label:hover::before {
  border: 2px solid #4d4d4d;
}

.checkbox-color:disabled + label::before {
  border: 2px solid #ededed;
}

.checkbox-color:checked + label::before {
  border: 0px solid #b8b8b8;
}

.checkbox-color:checked + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.png");
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;
}

.checkbox-color:checked + label:hover::after {
  opacity: 1;
}

.checkbox-color:checked:disabled + label::after {
  opacity: 0.1;
}

.btn-filter {
  margin: 0;
  padding: 0;
  background: none;
  position: relative;
  border: none;
  width: 200px;
}

.range-filter__price--text {
  font-size: 14px;
  line-height: 16px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.sorting-checkbox--text {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.sorting-radio--text {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.catalog-sort {
  position: relative;
  background-color: var(--basic-grey-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 72px;
  min-height: 70px;
}

.catalog-sort::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 1000%;
  left: 0;
  background-color: var(--basic-grey-light);
  z-index: -1;
}

.catalog-sort__pagination--list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-sort--text {
  font-size: 16px;
  line-height: 19px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
  text-transform: uppercase;
}

.catalog-sort__type--item {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  color: var(--basic-black);
  text-decoration: none;
}

.catalog-sort__type--item:not(:last-child) {
  margin-right: 30px;
}

.catalog-group {
  padding-left: 72px;
}

.catalog-group_products {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
}

.catalog-group__text--name {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
}

.catalog-group__text--price {
  font-size: 16px;
  line-height: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}

.btn-add-comparison {
  font-size: 13px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.catalog-group__img {
  position: relative;
}

.catalog-group__new--text {
  position: absolute;
  right: 27px;
  top: 29px;
  font-size: 12px;
  line-height: 15px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 900;
  color: var(--basic-black);
  text-transform: uppercase;
  height: 62px;
  width: 62px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-group__head {
  position: relative;
}

.catalog-group__head--hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.catalog-sort-footer {
  background-color: var(--basic-grey-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-catalog-sort {
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  color: var(--basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.catalog-sort__pagination--list {
  font-size: 16px;
  line-height: 20px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 100;
  color: var(--basic-black);
}
